<html>

<head>
    <title>{{titleList}}</title>
</head>

<body class="m-1 p-1">
    <h3 class="bg-primary text-white p-3">Add User</h3>
    <div class="row">
        <div class="col-4">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input #nameInput class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input #emailInput class="form-control" />
                </div>
                <button class="btn btn-sm btn-primary my-1 mx1" (click)="addUser(nameInput.value, emailInput.value)">Add
                    User</button>
            </form>
        </div>
        <div class="col-8">
            <div class="container" [hidden]="hideGrid">
                <div class="row mt-2">
                    <div class="col-lg-6">Name</div>
                    <div class="col-lg-6">Email Address</div>
                </div>
                <div class="row" *ngFor="let userDetail of userDetails">
                    <div class="col-sm-6">{{userDetail.name}}</div>
                    <div class="col-sm-6">{{userDetail.email}}</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>